<div class="chat-user-detail">
  <%= image_tag profile_pic(chat_user),
                class: "img-thumbnail rounded-circle" %>

  <div class="d-flex flex-column justify-content-center mx-3">
    <small class="chat-username">
      <%= link_to chat_user, 
                  data: {turbo: false}, 
                  class: "a-decoration-none" do %>
        <%= chat_user.username %>
      <% end %>
    </small>

    <small class="" 
          style="color: rgb(115, 115, 115); font-size: .75rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 10rem;">
      Active 5h ago
    </small>
  </div>
</div>