<div class="no-messages p-3">
  <h4 class="fs-5 text-muted">No messages yet,... Click 
    <%= link_to "here", "#", 
            class: "text-dark",
            data: {
              bs_toggle: "modal",
              bs_target: "#newMessageModal"
            } %>
    to create a new one.
  </h4>
</div>