<%= turbo_frame_tag :search_results do %>
  <% users.each do |user| %>
    <li class="search-result p-3">

      <%= link_to user, class: "a-decoration-none", data: { turbo_frame: "_top" } do %>

        <div class="d-flex justify-content-between align-items-center">
            
            <%= image_tag profile_pic(user), 
                class: "img-thumbnail rounded-circle", 
                style: "width: 2.5rem" %>

            <div class="flex-grow-1 d-flex flex-column ms-3 justify-content-center">
              <small class="fw-bold" 
                  style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 10rem">
                <%= user.username %>
              </small>
            </div>
        </div>
      <% end %>

    </li>
  <% end %>
<% end %>